### END-TO-END TESTS

- Testing started at: April 29th 2026, 3:04:54 am

**📦 Test Result Summary**

- ✅ 12 passed
- ❌ 55 failed
- ⚠️ 0 flaked
- ⏩ 6 skipped

⌛ _Duration: 5 minutes and 38 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | None | chromium-local-provider | Action buttons on adapters tab |  | ❌ |
| 2 | None | chromium-local-provider | Aggregation Charts are displayed |  | ❌ |
| 3 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 4 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 5 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 6 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 7 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 8 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 9 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 10 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 11 | None | chromium-local-provider | alias resolution | relationship | ❌ |
| 12 | None | chromium-local-provider | All settings tabs |  | ❌ |
| 13 | None | chromium-local-provider | Common UI elements |  | ✅ |
| 14 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 15 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 16 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 17 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 18 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 19 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 20 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 21 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 22 | None | chromium-local-provider | config patching correctness | relationship | ❌ |
| 23 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 24 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 25 | None | chromium-local-provider | Create a Model |  | ❌ |
| 26 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 27 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 28 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 29 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 30 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 31 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 32 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 33 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 34 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 35 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 36 | None | chromium-local-provider | Grafana elements on metrics tab |  | ❌ |
| 37 | None | chromium-local-provider | Import a Model via CSV Import |  | ➖ |
| 38 | None | chromium-local-provider | Import a Model via File Import |  | ➖ |
| 39 | None | chromium-local-provider | Import a Model via Url Import |  | ➖ |
| 40 | None | chromium-local-provider | Logout from current user session |  | ✅ |
| 41 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 42 | None | chromium-local-provider | Search a Model and Export it |  | ➖ |
| 43 | None | chromium-local-provider | should edit design in Design Configurator |  | ✅ |
| 44 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ❌ |
| 45 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ❌ |
| 46 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ❌ |
| 47 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ❌ |
| 48 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ❌ |
| 49 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ❌ |
| 50 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ❌ |
| 51 | None | chromium-local-provider | should verify Design Configurator page elements |  | ✅ |
| 52 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 53 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 54 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 55 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 56 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 57 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 58 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 59 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 60 | None | chromium-local-provider | structural integrity | relationship | ❌ |
| 61 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 62 | None | chromium-local-provider | Test if Notification button is displayed |  | ✅ |
| 63 | None | chromium-local-provider | Test if Profile button is displayed |  | ✅ |
| 64 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ❌ |
| 65 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ❌ |
| 66 | None | chromium-local-provider | Verify Kanvas Details |  | ✅ |
| 67 | None | chromium-local-provider | Verify Kanvas Snapshot UI elements |  | ✅ |
| 68 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ❌ |
| 69 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ❌ |
| 70 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ❌ |
| 71 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ❌ |
| 72 | None | chromium-local-provider | Verify Performance Analysis Details |  | ✅ |
| 73 | None | chromium-local-provider | Verify that UI components are displayed |  | ✅ |
| 74 | None | local-setup | authenticate as None provider |  | ✅ |
| 75 | None | remote-setup | authenticate with Remote Provider |  | ❌ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ authenticate with Remote Provider (None - remote-setup)</summary>

**File Location:** `Not Found`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded.[39m
```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation_properties.spec.js`

**Error Message:**
```
Error: apiRequestContext.post: socket hang up
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None[22m

```

**Code Snippet:**
```
[0m [90m 117 |[39m
 [90m 118 |[39m [36masync[39m [36mfunction[39m evaluateDesign(request[33m,[39m design) {
[31m[1m>[22m[39m[90m 119 |[39m   [36mconst[39m resp [33m=[39m [36mawait[39m request[33m.[39mpost(
 [90m     |[39m                              [31m[1m^[22m[39m
 [90m 120 |[39m     [32m`${ENV.MESHERY_SERVER_URL}/api/meshmodels/relationships/evaluate`[39m[33m,[39m
 [90m 121 |[39m     {
 [90m 122 |[39m       data[33m:[39m {[0m
```

</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3438[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3438[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3438[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3438[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50551[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50551[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50551[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50551[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2099[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2099[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2099[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2099[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2155[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2155[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2155[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2155[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2902[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2902[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2902[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2902[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ structural integrity (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 6882[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ alias resolution (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 6882[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ config patching correctness (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 6882[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 6882[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ should identify relationships for Container-Hierarchical-Parent-Alias-Relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 11340[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ should identify relationships for deployment-configmap-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 4866[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ All settings tabs (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/performance.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 20 |[39m
 [90m 21 |[39m test[33m.[39mdescribe([32m'Performance Section Tests'[39m[33m,[39m () [33m=>[39m {
[31m[1m>[22m[39m[90m 22 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 23 |[39m     [36mconst[39m dashboardPage [33m=[39m [36mnew[39m [33mDashboardPage[39m(page)[33m;[39m
 [90m 24 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToDashboard()[33m;[39m
 [90m 25 |[39m     [36mawait[39m dashboardPage[33m.[39mnavigateToPerformance()[33m;[39m[0m
```

</details>

<details>
<summary>❌ Verify Meshery Docker Extension Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/extensions.spec.js`

**Error Message:**
```
[31mTest timeout of 60000ms exceeded while running "beforeEach" hook.[39m
```

**Code Snippet:**
```
[0m [90m 19 |[39m   [36mlet[39m extensionsPage[33m;[39m
 [90m 20 |[39m
[31m[1m>[22m[39m[90m 21 |[39m   test[33m.[39mbeforeEach([36masync[39m ({ page }) [33m=>[39m {
 [90m    |[39m        [31m[1m^[22m[39m
 [90m 22 |[39m     extensionsPage [33m=[39m [36mnew[39m [33mExtensionsPage[39m(page)[33m;[39m
 [90m 23 |[39m     [36mawait[39m extensionsPage[33m.[39mgoto()[33m;[39m
 [90m 24 |[39m   })[33m;[39m[0m
```

</details>

<details>
<summary>❌ should identify relationships for Hierarchical-Parent-Namespace-Relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 2842[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ Verify Meshery Design Embed Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for Service-To-Deployment-Network (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 5810[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ Verify Meshery Catalog Section Details (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for pv-pvc-edge-non-binding-reference-relationship (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 3642[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ Verify Meshery Adapter for Istio Section (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for meshery-design (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 50563[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ Aggregation Charts are displayed (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ should identify relationships for All Relationships (None - chromium-local-provider)</summary>

**File Location:** `apiRequestContext.post: connect ECONNREFUSED :`

**Error Message:**
```
Error: apiRequestContext.post: connect ECONNREFUSED ::1:9081
Call log:
[2m  - → POST http://localhost:9081/api/meshmodels/relationships/evaluate[22m
[2m    - user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7632.6 Safari/537.36[22m
[2m    - accept: */*[22m
[2m    - accept-encoding: gzip,deflate,br[22m
[2m    - content-type: application/json[22m
[2m    - content-length: 283285[22m
[2m    - cookie: meshery-provider=None[22m

```



</details>

<details>
<summary>❌ Toggle "Send Anonymous Usage Statistics" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Toggle "Send Anonymous Performance Results" (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Action buttons on adapters tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Grafana elements on metrics tab (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/pages/DashboardPage.js`

**Error Message:**
```
Error: page.goto: net::ERR_CONNECTION_REFUSED at http://localhost:9081/
Call log:
[2m  - navigating to "http://localhost:9081/", waiting until "load"[22m

```

**Code Snippet:**
```
   at pages/DashboardPage.js:63

[0m [90m 61 |[39m
 [90m 62 |[39m   [36masync[39m navigateToDashboard() {
[31m[1m>[22m[39m[90m 63 |[39m     [36mawait[39m [36mthis[39m[33m.[39mpage[33m.[39mgoto([33mLEFT_NAV[39m[33m.[39m[33mDASHBOARD[39m[33m.[39mpath)[33m;[39m
 [90m    |[39m                     [31m[1m^[22m[39m
 [90m 64 |[39m   }
 [90m 65 |[39m
 [90m 66 |[39m   [36masync[39m navigateToPerformance() {[0m
```

</details>

<details>
<summary>❌ Create a Model (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/models.spec.ts`

**Error Message:**
```
Error: [2mexpect([22m[31mlocator[39m[2m).[22mtoBeVisible[2m([22m[2m)[22m failed

Locator: getByTestId('ModelImportedSection-ModelHeader-test-model-1777432013251')
Expected: visible
Timeout: 180000ms
Error: element(s) not found

Call log:
[2m  - Expect "toBeVisible" with timeout 180000ms[22m
[2m  - waiting for getByTestId('ModelImportedSection-ModelHeader-test-model-1777432013251')[22m

```

**Code Snippet:**
```
[0m [90m 85 |[39m     [36mawait[39m expect(
 [90m 86 |[39m       page[33m.[39mgetByTestId([32m`ModelImportedSection-ModelHeader-${model.MODEL_NAME}`[39m)[33m,[39m
[31m[1m>[22m[39m[90m 87 |[39m     )[33m.[39mtoBeVisible({ timeout[33m:[39m [35m180[39m_000 })[33m;[39m
 [90m    |[39m       [31m[1m^[22m[39m
 [90m 88 |[39m     [36mawait[39m expect(page[33m.[39mgetByTestId([32m'ModelImportMessages-Wrapper'[39m))[33m.[39mtoBeVisible()[33m;[39m
 [90m 89 |[39m
 [90m 90 |[39m     [36mawait[39m page[33m.[39mgetByTestId([32m'UrlStepper-Button-Finish'[39m)[33m.[39mclick()[33m;[39m[0m
```

</details>






<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->
